<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo** | Python: Variáveis & Tipos de Dados
Caderno de **Exercícios**<br>
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução ao Google Colab;</li>
  <li>Variáveis;</li>
  <li>Números;</li>
  <li><i>Strings;</i></li>
  <li>Boleanos.</li>
</ol>

---

# **Exercícios**

## 1\. Google Colab

Crie uma célula de código que escreva o texto "Olá mundo!", utilize o comando `print`.

Crie uma célua de texto e adicione uma imagem.

## Respostas

In [1]:
string = "Olá mundo!"
print(string)

Olá mundo!

Aqui está minha imagem
<img src="https://drive.google.com/uc?export=view&id=1WcPVUWEbpSyctaSuknLEha23r1veED-y" />

![](https://drive.google.com/uc?export=view&id=1WcPVUWEbpSyctaSuknLEha23r1veED-y)

<iframe src="https://drive.google.com/file/d/1WcPVUWEbpSyctaSuknLEha23r1veED-y/preview" width="640" height="480" allow="autoplay"></iframe>

[Image Link](https://waverleysoftware.com/app/uploads/2020/05/Screenshot-2020-05-18-at-12.19.31-min.png)

---

## 2\. Números

Preencha as células de código para preencher os valores de (A), (B) e (C) na tabela de ticket médio abaixo:

<br>

| Dia   | Valor Total Vendas | Qtd Total Vendas | Ticket Medio |
|-------|--------------------|------------------|--------------|
| 19/01 | (A)                | 3                | 320.52       |
| 20/01 | 834.47             | (B)              | 119.21       |
| 23/01 | 15378.12           | 5                | (C)          |

In [ ]:
# (A)
total_sell_19 = 3
average_ticket_19 = 320.52
total_sell_value_19 = total_sell_19 * average_ticket_19

print(f"{total_sell_value_19 = }")

total_sell_value_19 = 961.56

In [ ]:
# (B)
total_sell_value_20 = 834.47
average_ticket_20 = 119.21
total_sell_20 = total_sell_value_20 / average_ticket_20

print(f"total_sell_20 ={int(total_sell_20)}")

total_sell_20 =7

In [ ]:
# (C)
total_sell_value_23 = 15378.12
total_sell_23 = 5
average_ticket_23 = total_sell_value_23 / total_sell_23

print(f"{average_ticket_23 = :.2f}")

average_ticket_23 = 3075.62

---

## 3\. Strings

Aplique três métodos distintos na *string* abaixo, você pode conferir alguns métodos neste [link](https://www.w3schools.com/python/python_ref_string.asp):

In [ ]:
cancao = 'Roda mundo, roda gigante, roda moinho, roda pião.'

print(f"All first letters in uppercase: {cancao.title()}")
print(f"Replacing 'mundo' by 'universo': {cancao.replace("mundo", "universo")}")
print(f"Splitting the phrase at any comma ',': {cancao.split(",")}")

All first letters in uppercase: Roda Mundo, Roda Gigante, Roda Moinho, Roda Pião.
Replacing 'mundo' by 'universo': Roda universo, roda gigante, roda moinho, roda pião.
Splitting the phrase at any comma ',': ['Roda mundo', ' roda gigante', ' roda moinho', ' roda pião.']

Extraia da string abaixo o valor da taxa **selic** na variável `selic` e o valor do **ano** na variavel `ano`. Imprima os valores na tela.

In [ ]:
noticia = 'Selic vai a 2,75% e supera expectativas; é a primeira alta em 6 anos.'

selic = noticia[noticia.find("2"):noticia.find("%")+1]
ano = noticia[-7];

print(f"Taxa selic: {selic}")
print(f"Ano: {ano}")

Taxa selic: 2,75%
Ano: 6

---

## 4\. Booleanos

Utilize a tabela da verdade para responder: qual o valor da variável x?

In [ ]:
a = False
b = True

x = not a & b

According the following truth table, we can infer that the value for `x` will be `True`.

| a | b | not a | not a & b |
|---|---|-------|-----------|
| F | T | T | T |