<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo 02** | Python: Estruturas de Dados
Caderno de **Aula**<br> 
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Listas;</li>
  <li>Conjuntos;</li>
  <li>Dicionários.</li>
</ol>

---

# **Aulas**

## 1\. Listas

### **1.1. Motivação**

O aplicativo do seu banco registra toda a sua movimentação financeira. O final do dia, o app consolida o saldo final para que você possa controlar sua vida financeira.

In [1]:
dia_11_saldo_inicial = 1000

In [2]:
dia_11_transacao_1 = 243
dia_11_transacao_2 = -798.58
dia_11_transacao_3 = 427.12
dia_11_transacao_4 = -10.91

In [3]:
dia_11_saldo_final = dia_11_saldo_inicial + dia_11_transacao_1 + dia_11_transacao_2 + dia_11_transacao_3 + dia_11_transacao_4

In [4]:
print(dia_11_saldo_final)

860.63

Será que exista uma forma melhor de armazenar as transações diárias?

### **1.2. Definição**

Armazenam sequências mutáveis e ordenadas de valores. São do tipo `list`:

In [5]:
usuario_web = ['André Perez', 'andre.perez', 'andre123', 'andre.perez@gmail.com']

print(usuario_web)
print(type(usuario_web))

['André Perez', 'andre.perez', 'andre123', 'andre.perez@gmail.com']
<class 'list'>

In [6]:
idade = 20
saldo_em_conta = 723.15
usuario_loggedin = True

usuario_web = ['André Perez', idade, 'andre.perez', 'andre123', 'andre.perez@gmail.com', saldo_em_conta, usuario_loggedin]

print(usuario_web)
print(type(usuario_web))

['André Perez', 20, 'andre.perez', 'andre123', 'andre.perez@gmail.com', 723.15, True]
<class 'list'>

### **1.3. Operações**

As operações da estrutura do tipo *list* são:


*   `+` (concatenação).

**Exemplo**: Fabricantes de *hardware* mobile

In [7]:
fabricantes_mobile_china = ['xiaomi', 'huawei']
fabricantes_mobile_eua = ['apple', 'motorola']
fabricantes_mobile = fabricantes_mobile_china + fabricantes_mobile_eua

print(fabricantes_mobile_china)
print(fabricantes_mobile_eua)
print(fabricantes_mobile)

['xiaomi', 'huawei']
['apple', 'motorola']
['xiaomi', 'huawei', 'apple', 'motorola']

Outra operação muito utilizada é a de fatiamento (*slicing*), semelhante ao de *strings*:

Fatiamento fixo:

In [8]:
print(f'0: {fabricantes_mobile[0]}')
print(f'-1: {fabricantes_mobile[-1]}')

0: xiaomi
-1: motorola

Fatiamento por intervalo:

In [9]:
fabricantes_mobile_china = fabricantes_mobile[0:2]
fabricantes_mobile_eua = fabricantes_mobile[2:len(fabricantes_mobile)]

print('china: ' + str(fabricantes_mobile_china))
print('eua: ' + str(fabricantes_mobile_eua))

china: ['xiaomi', 'huawei']
eua: ['apple', 'motorola']

Podemos adicionar elementos a uma posição específica da lista:

In [10]:
print(fabricantes_mobile)

['xiaomi', 'huawei', 'apple', 'motorola']

In [11]:
fabricantes_mobile[2] = 'nokia'
print(fabricantes_mobile)

['xiaomi', 'huawei', 'nokia', 'motorola']

### **1.4. Métodos**

São métodos nativos do Python que nos ajudam a trabalhar no dia a dia com listas.

In [12]:
juros = [0.05, 0.07, 0.02, 0.04, 0.08]
print(juros)

[0.05, 0.07, 0.02, 0.04, 0.08]

In [13]:
# inserir um elemento sem substituir: list.insert(index, val)
juros.insert(0, 0.10)
print(juros)

[0.1, 0.05, 0.07, 0.02, 0.04, 0.08]

In [14]:
# inserir um elemento no fim da lista: list.append(val)
juros.append(0.09)
print(juros)

[0.1, 0.05, 0.07, 0.02, 0.04, 0.08, 0.09]

In [15]:
# remover um elemento pelo valor: list.remove(val)
juros.remove(0.1)
print(juros)

[0.05, 0.07, 0.02, 0.04, 0.08, 0.09]

In [16]:
# remover um elemento pelo índice: list.pop(val)
terceiro_juros = juros.pop(2)
print(terceiro_juros)

0.02

In [22]:
print(juros)

[0.05, 0.07, 0.04, 0.08, 0.09]

### **1.5. Conversão**

Podemos converter alguns tipos de variáveis em listas, como *strings*.

In [23]:
email = 'andre.perez@gmail.com'
caracteres_email = list(email)

print(email)
print(caracteres_email)

andre.perez@gmail.com
['a', 'n', 'd', 'r', 'e', '.', 'p', 'e', 'r', 'e', 'z', '@', 'g', 'm', 'a', 'i', 'l', '.', 'c', 'o', 'm']

### **1.6. Revisitando a motivação**

In [24]:
dia_11_saldo_inicial = 1000

In [25]:
dia_11_transacoes = []

dia_11_transacoes.append(243)
dia_11_transacoes.append(-798.58)
dia_11_transacoes.append(427.12)
dia_11_transacoes.append(-10.91)

print(dia_11_transacoes)

[243, -798.58, 427.12, -10.91]

In [30]:
dia_11_saldo_final = dia_11_saldo_inicial + dia_11_transacoes[0] + dia_11_transacoes[1] + dia_11_transacoes[2] + dia_11_transacoes[3]
print(dia_11_saldo_final)

balance = dia_11_saldo_inicial

for i in range(0, dia_11_transacoes.__len__()):
    balance += dia_11_transacoes[i]

print(f"{balance}")

860.63
860.63

## 1.7 List Comprehension

This is a shorthand syntax to create a list from other list. This is similar to the `.map()` from JS.

The syntax is

```python
newlist = [expression for item in iterable if condition == True]
```

In [63]:
# Example
list_numbers = [1,2,3,4,5,6,7,8,9,10]
print(list_numbers)

all_squared = [x**2 for x in list_numbers]
print(all_squared)

even_cubed = [x**3 for x in list_numbers if x % 2 == 0]
print(even_cubed)

odd_multiplied_by_5 = [x * 5 for x in list_numbers if x % 2 != 0]
print(odd_multiplied_by_5)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[8, 64, 216, 512, 1000]
[5, 15, 25, 35, 45]

## 2\. Conjuntos

### **2.1. Motivação**

Você trabalha como analista de dados de mídias sociais e precisa descobrir todas as *hashtags* que alcançaram o *top trending* do Twitter durante uma semana. Você já conseguiu as *hashtags* por dia da semana:

In [31]:
hashtags_seg = ['#tiago', '#joao', '#bbb']
hashtags_ter = ['#sarah', '#bbb', '#fiuk']
hashtags_qua = ['#gil', '#thelma', '#lourdes']
hashtags_qui = ['#rafa', '#fora', '#danilo']
hashtags_sex = ['#juliete', '#arthur', '#bbb']

Um simples concateção de listas fará com que a *hashtag* #bbb, entre outras, apareça mais de uma vez.

In [32]:
hashtags_semana = hashtags_seg + hashtags_ter + hashtags_qua + hashtags_qui + hashtags_sex
print(hashtags_semana)

['#tiago', '#joao', '#bbb', '#sarah', '#bbb', '#fiuk', '#gil', '#thelma', '#lourdes', '#rafa', '#fora', '#danilo', '#juliete', '#arthur', '#bbb']

### **2.2. Definição**

Armazenam sequências imutáveis e desordenadas valores, sem repetição. São do tipo `set`:

In [33]:
frutas = {'banana', 'maca', 'uva', 'uva'}

print(frutas)
print(type(frutas))

{'uva', 'maca', 'banana'}
<class 'set'>

### **2.3. Operações**

As operações da estrutura do tipo *set* são:


*   `-` (diferença).

**Exemplo**: Países da europa.

In [34]:
norte_europa = {'reino unido', 'suecia', 'russia', 'noruega', 'dinamarca'}
escandinavia = {'noruega', 'dinamarca', 'suecia'}

In [35]:
norte_europa_nao_escandinavo = norte_europa - escandinavia
print(norte_europa_nao_escandinavo)

{'reino unido', 'russia'}

In [36]:
escandivano_nao_norte_europa = escandinavia - norte_europa
print(escandivano_nao_norte_europa)

set()

### **2.4. Métodos**

São métodos nativos do Python que nos ajudam a trabalhar no dia a dia com conjuntos.

In [37]:
cursos = {'Exatas', 'Humanas', 'Biológicas'}
print(cursos)

{'Biológicas', 'Humanas', 'Exatas'}

In [38]:
# inserir um elemento no conjunto: set.add(val)
cursos.add('Saúde')
print(cursos)

{'Saúde', 'Biológicas', 'Humanas', 'Exatas'}

In [39]:
# remover um elemento no conjunto: set.remove(val)
cursos.remove('Saúde')
print(cursos)

{'Biológicas', 'Humanas', 'Exatas'}

### **2.5. Conversão**

Podemos converter conjuntos para lista e vice e versa.

In [40]:
times_paulistas = {'São Paulo', 'Palmeiras', 'Corinthians', 'Santos'}

print(times_paulistas)
print(type(times_paulistas))

{'Santos', 'Corinthians', 'São Paulo', 'Palmeiras'}
<class 'set'>

In [41]:
print(list(times_paulistas))
print(type(list(times_paulistas)))

['Santos', 'Corinthians', 'São Paulo', 'Palmeiras']
<class 'list'>

### **2.6. Revisitando a motivação**

In [42]:
print(hashtags_semana)
print(len(hashtags_semana))

['#tiago', '#joao', '#bbb', '#sarah', '#bbb', '#fiuk', '#gil', '#thelma', '#lourdes', '#rafa', '#fora', '#danilo', '#juliete', '#arthur', '#bbb']
15

In [43]:
hashtags_semana = list(set(hashtags_seg + hashtags_ter + hashtags_qua + hashtags_qui + hashtags_sex))

print(hashtags_semana)
print(len(hashtags_semana))

['#arthur', '#thelma', '#tiago', '#danilo', '#fiuk', '#sarah', '#rafa', '#juliete', '#joao', '#fora', '#gil', '#bbb', '#lourdes']
13

## 3\. Dicionários

### **3.1. Motivação**

Para se conectar a uma rede wi-fi, você precisa de duas informações: o nome da rede e a senha de acesso. Quando você vai acessar uma nova rede, você encontra uma lista de redes disponíveis:

In [64]:
wifi_disponiveis = ['rede1', 'cnx_cnx', 'uai-fi', 'r3d3']
print(wifi_disponiveis)

['rede1', 'cnx_cnx', 'uai-fi', 'r3d3']

Você consegue identificar quais são os nome de redes e suas respectivas senhas? Talvez uma `list` não seja a melhor opção para armazenar esse tipo de dado.

### **3.2. Definição**

Armazenam sequências no formato chave-valor. São do tipo `dict`.

In [65]:
brasil = {'capital': 'Brasília', 'idioma': 'Português', 'populacao': 210}

print(brasil)
print(type(brasil))

{'capital': 'Brasília', 'idioma': 'Português', 'populacao': 210}
<class 'dict'>

Não é permite chaves duplicadas.

In [66]:
carro = {
    'marca': 'Volkswagen',
    'modelo': 'Polo',
    'ano': 2021,
    'ano': 2004
}

print(carro)

{'marca': 'Volkswagen', 'modelo': 'Polo', 'ano': 2004}

Podemos criar dicionários compostos:

In [67]:
cadastro = {
    'andre': {
        'nome': 'Andre Perez', 
        'ano_nascimento': 1992, 
        'pais': {
            'pai': {
              'nome': '<nome-do-pai> Perez', 
              'ano_nascimento': 1971
            },
            'mae': {
              'nome': '<nome-da-mae> Perez', 
              'ano_nascimento': 1973
            },
        }
    }
}

print(cadastro)

{'andre': {'nome': 'Andre Perez', 'ano_nascimento': 1992, 'pais': {'pai': {'nome': '<nome-do-pai> Perez', 'ano_nascimento': 1971}, 'mae': {'nome': '<nome-da-mae> Perez', 'ano_nascimento': 1973}}}}

In [74]:
cadastro['andre']['pais']['mae']['ano_nascimento']

1973

### **3.3. Operações**

In [69]:
credito = {'123': 750, '789': 980}

Elementos são acessados pela sua chave.

In [70]:
score_123 = credito['123']
score_789 = credito['789']

print(score_123)
print(score_789)

750
980

Elementos são atualizados pela sua chave.

In [75]:
credito['123'] = 435
print(credito)

{'123': 435, '789': 980}

Para adicionar um novo elemento, basta criar um novo elemento chave-valor:

In [76]:
credito['456'] = 1000
print(credito)

{'123': 435, '789': 980, '456': 1000}

### **3.4. Métodos**

São métodos nativos do Python que nos ajudam a trabalhar no dia a dia com dicionários.

In [77]:
artigo = dict(
    titulo='Modulo 02 | Python: Estruturas de Dados',
    corpo='Topicos, Aulas, Listas, Conjuntos, Dicionários, ...',
    total_caracteres=1530
)

In [78]:
# adicionar/atualizar um elemento pelo chave-valor: dict.update(dict)
print(artigo)
artigo.update({'total_caracteres': 7850})
print(artigo)

artigo['total_caracteres'] = 7850

{'titulo': 'Modulo 02 | Python: Estruturas de Dados', 'corpo': 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...', 'total_caracteres': 1530}
{'titulo': 'Modulo 02 | Python: Estruturas de Dados', 'corpo': 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...', 'total_caracteres': 7850}

In [79]:
# remover um elemento pelo chave: dict.pop(key)
print(artigo)
total_caracteres = artigo.pop('total_caracteres')
print(artigo)

{'titulo': 'Modulo 02 | Python: Estruturas de Dados', 'corpo': 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...', 'total_caracteres': 7850}
{'titulo': 'Modulo 02 | Python: Estruturas de Dados', 'corpo': 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...'}

### **3.5. Conversão**

Podemos converter as chaves e os items de um dicionário em uma lista.

In [ ]:
artigo = dict(
    titulo='Modulo 02 | Python: Estruturas de Dados',
    corpo='Topicos, Aulas, Listas, Conjuntos, Dicionários, ...',
    total_caracteres=1530
)

In [80]:
chaves = list(artigo.keys())

print(chaves)
print(type(chaves))

['titulo', 'corpo']
<class 'list'>

In [81]:
valores = list(artigo.values())

print(valores)
print(type(valores))

['Modulo 02 | Python: Estruturas de Dados', 'Topicos, Aulas, Listas, Conjuntos, Dicionários, ...']
<class 'list'>

### **3.6. Revisitando a motivação**

In [82]:
wifi_disponiveis = []

In [83]:
rede = {'nome': 'rede1', 'senha': 'cnx_cnx'}
wifi_disponiveis.append(rede)

In [84]:
rede = {'nome': 'uai-fi', 'senha': 'r3d3'}
wifi_disponiveis.append(rede)

In [85]:
print(wifi_disponiveis)

[{'nome': 'rede1', 'senha': 'cnx_cnx'}, {'nome': 'uai-fi', 'senha': 'r3d3'}]

In [93]:
my_dict = {
    "nome": "Fábio",
    "idade": 36,
    "estudo": "mestrado",
    "sexo": "masculino",
    "altura": 180,
    "peso": 115
}

print(my_dict)

[print(f"{x=} {y=}") for (x, y) in my_dict.items()]

{'nome': 'Fábio', 'idade': 36, 'estudo': 'mestrado', 'sexo': 'masculino', 'altura': 180, 'peso': 115}
x='nome' y='Fábio'
x='idade' y=36
x='estudo' y='mestrado'
x='sexo' y='masculino'
x='altura' y=180
x='peso' y=115

[None, None, None, None, None, None]